
<div class="container" >

    <div [@dialog] [ngClass]="searchVisible ? 'dialog' : 'dialog_none'" cdkDrag>
    <div>
    <div class="container">
    <h3 class="align-center  ">Dynamic Search</h3>
    <span class="pull-right maticon"><mat-icon  cdkDragHandle>zoom_out_map</mat-icon></span>
    </div>
    <div class="container"> 
    <button class="button_add pull-left" matTooltip="add" mat-button (click)="dynamicSearch()">+</button>
    <button class="button_add pull-right" matTooltip="hide" mat-button (click)="searchVisible = !searchVisible">-</button>
    </div>
    </div>
    <div   #dynamicSearchOption  class="search_fields" id="search_fieldId">
     
    </div>
    <div class="find">
    <button mat-button matTooltip="find" #findSearch (click)="find(findSearch)" id="findSearch" ><mat-icon>youtube_searched_for</mat-icon></button>
    <button mat-button matTooltip="reset" #resetSearch (click)="refresh(resetSearch)" id="resetSearch" ><mat-icon>rotate_right</mat-icon></button>
   
    </div>
    </div>
    <div [@dialog] [ngClass]="sortVisible ? 'dialog' : 'dialog_none'" cdkDrag>
    <div>
    <div class="container">
    <h3 class="align-center  ">Dynamic Sort</h3>
     <span class="pull-right maticon"><mat-icon  cdkDragHandle>zoom_out_map</mat-icon></span>
    </div>
    <div class="container"> 
    <button class="button_add pull-left" matTooltip="add" mat-button (click)="dynamicSort()">+</button>
    <button class="button_add pull-right" matTooltip="hide" mat-button (click)="sortVisible = !sortVisible">-</button>
    </div>
    </div>
    <div #dynamicSortOption class="sort_fields" id="sort_fieldId" >
     
    </div>
    <div class="find">
    <button mat-button matTooltip="find" #findSort id="findSort" (click)="find(findSort)"><mat-icon>youtube_searched_for</mat-icon></button>
    <button mat-button matTooltip="reset" #resetSort id="resetSort" (click)="refresh(resetSort)"><mat-icon>rotate_right</mat-icon></button>
    </div>
   </div>
    <div>
   
    <mat-form-field>
    <mat-select multiple placeholder="select column to be fixed" [formControl]="selectedOptions">
    <mat-option *ngFor="let column of columns" [value]="column">{{ column.name}}</mat-option>
    </mat-select>
    </mat-form-field>

    <mat-form-field>
            <mat-select multiple placeholder="select column for Grouping" [formControl]="groupingOptions">
            <mat-option *ngFor="let column of columns;let index = index" [value]="index+1">{{ column.name}}</mat-option>
            </mat-select>
            </mat-form-field>
            <button (click)="hai()"></button>
    </div>
   
    <button mat-button (click)="searchVisible = !searchVisible" >search</button>
    <button mat-button (click)="sortVisible = !sortVisible" >sort</button>       
   <div class="search-results" infiniteScroll  [infiniteScrollDistance]="2"
   [infiniteScrollThrottle]="50" [scrollWindow]="false" (scrolled)="onScrollDown()"> 
   <div *ngIf="dataLoaded">
    <div class="container mat-elevation-z8" >

    <table mat-table [dataSource]="tableDatas" matSort id="datatable" > 
    <ng-container  matColumnDef="axis" sticky=true>
            <th mat-header-cell *matHeaderCellDef>R</th>
        <td mat-cell *matCellDef="let element; let i = index;" [attr.id]="'staticrow'+i"><span>{{i+1}}</span> 
        </td> 
    </ng-container>
    <ng-container *ngFor="let column of columns; let colIndex = index "  matColumnDef="{{column.name}}" [sticky]="isSticky(column.name)">
    <th mat-header-cell *matHeaderCellDef><p class="column_data" ><b [innerHTML]="getIndex(colIndex+1)" ></b></p><p>{{column.name}}</p></th>
    <td mat-cell *matCellDef="let element; let indexData = index;" [ngClass]="typeChecking(element[column.name]) ? 'numberClass' : ''" ><span [attr.class]="getIndex(colIndex+1)+''+(indexData+1)">{{element[column.name]}}</span> 
    </td> 
    </ng-container>
    <ng-container  matColumnDef="formula" sticky=true>
            <th mat-header-cell *matHeaderCellDef>Formula</th>
        <td mat-cell *matCellDef="let element; let i = index;" [attr.id]="'staticrow'+i"><span>
            <mat-form-field>
                <input matInput type="text" placeholder="Evaluation Process" [id]="'formulaGeneratingArea'+i"  (mouseout)="formulaGenerator($event,i)"><input readonly [id]="'formulaTextArea'+i" matInput type="text" >
            </mat-form-field>
        </span> 
        </td> 
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;let rowIndex = index " [attr.id]=rowIndex+1></tr>
    </table>
    </div>
   </div>
   </div>
   </div>
   

